src/main/resources/syntaxes/schema.xsd

<?xml version="1.0"?>
<!-- Created with Liquid Studio (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="syntax" type="syntax"/>

  <!-- ConstraintDefinition -->
  <xs:complexType name="constraintDefinition">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="strategy" default="STANDALONE" type="ConstraintDefinitionStrategy"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="ConstraintDefinitionStrategy">
    <xs:restriction base="xs:string">
      <!-- Constraint is defined at the end of a line -->
      <xs:enumeration value="END_OF_LINE"/>
      <!-- Constraint is defined at the end of the table creation block -->
      <xs:enumeration value="END_OF_BLOCK"/>
      <!-- Constraint is defined standalone after data is migrated -->
      <xs:enumeration value="STANDALONE"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- TemplateDefinition -->
  <xs:complexType name="templateDefinition">
    <xs:all>
      <!-- Schema creation template. Is used whenever a new schema has to be created in the target database. -->
      <xs:element name="createSchema" type="xs:string" minOccurs="0"/>
      <!-- Table creation template. Is used whenever a new table has to be created in the target database. -->
      <xs:element name="createTable" type="xs:string"/>
      <!-- Column creation template. Is used to create the content of the ${column_definitions} placeholder for createTable. -->
      <xs:element name="columnDefinition" type="xs:string"/>
      <!-- Primary key constraint creation template.
       Depending on the defined strategy, this is either used in the ${end_of_line_constraints} or the ${end_of_block_constraints}
      placeholder in columnDefinition or createTable or as a standalone SQL statement
      that is executed after all tables have been created. -->
      <xs:element name="primaryKeyConstraint" type="constraintDefinition"/>
      <!-- Foreign key constraint creation template.
       Depending on the defined strategy, this is either used in the ${end_of_line_constraints} or the ${end_of_block_constraints}
      placeholder in columnDefinition or createTable or as a standalone SQL statement
      that is executed after all tables have been created. -->
      <xs:element name="foreignKeyConstraint" type="constraintDefinition"/>
      <!-- Unique constraint creation template.
       Depending on the defined strategy, this is either used in the ${end_of_line_constraints} or the ${end_of_block_constraints}
      placeholder in columnDefinition or createTable or as a standalone SQL statement
      that is executed after all tables have been created. -->
      <xs:element name="uniqueConstraint" type="constraintDefinition"/>
      <!-- Not Null constraint creation template.
       Depending on the defined strategy, this is either used in the ${end_of_line_constraints} or the ${end_of_block_constraints}
      placeholder in columnDefinition or createTable or as a standalone SQL statement
      that is executed after all tables have been created. -->
      <xs:element name="notNullConstraint" type="constraintDefinition"/>
      <!-- Column default creation template. This is used to create the content of the ${column_default} placeholder for columnDefinition. -->
      <xs:element name="columnDefault" type="xs:string"/>
      <!-- Template for SELECTing. This template is used to select data from the source database. -->
      <xs:element name="selectData" type="xs:string"/>
      <!-- Template for INSERTing. This template is used to insert data into the target database. -->
      <xs:element name="insertData" type="xs:string"/>
      <!-- Serial Generation template.
      Depending on the defined strategy, this is either used in the ${end_of_line_constraints} or the ${end_of_block_constraints}
      placeholder in columnDefinition or createTable or as a standalone SQL statement
      that is executed after all tables have been created. -->
      <xs:element name="generateSerial" type="constraintDefinition"/>
      <!-- Identity Generation template.
Depending on the defined strategy, this is either used in the ${end_of_line_constraints} or the ${end_of_block_constraints}
placeholder in columnDefinition or createTable or as a standalone SQL statement
that is executed after all tables have been created. -->
      <xs:element name="generateIdentity" type="constraintDefinition"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="JDBCTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARRAY"/>
      <xs:enumeration value="BIGINT"/>
      <xs:enumeration value="BINARY"/>
      <xs:enumeration value="BIT"/>
      <xs:enumeration value="BLOB"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CLOB"/>
      <xs:enumeration value="DATALINK"/>
      <xs:enumeration value="DATE"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DISTINCT"/>
      <xs:enumeration value="DOUBLE"/>
      <xs:enumeration value="FLOAT"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="JAVA_OBJECT"/>
      <xs:enumeration value="LONGVARBINARY"/>
      <xs:enumeration value="LONGVARCHAR"/>
      <xs:enumeration value="NCHAR"/>
      <xs:enumeration value="NCLOB"/>
      <xs:enumeration value="NULL"/>
      <xs:enumeration value="NUMERIC"/>
      <xs:enumeration value="NVARCHAR"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value="REAL"/>
      <xs:enumeration value="REF"/>
      <xs:enumeration value="REF_CURSOR"/>
      <xs:enumeration value="ROWID"/>
      <xs:enumeration value="SMALLINT"/>
      <xs:enumeration value="SQLXML"/>
      <xs:enumeration value="STRUCT"/>
      <xs:enumeration value="TIME"/>
      <xs:enumeration value="TIME_WITH_TIMEZONE"/>
      <xs:enumeration value="TIMESTAMP"/>
      <xs:enumeration value="TIMESTAMP_WITH_TIMEZONE"/>
      <xs:enumeration value="TINYINT"/>
      <xs:enumeration value="VARBINARY"/>
      <xs:enumeration value="VARCHAR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="typeMappingDefinition">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="jdbcType" type="JDBCTypes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="typeMappings">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="typeMapping" type="typeMappingDefinition"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Model -->
  <xs:complexType name="syntax">
    <xs:sequence>
      <xs:element name="defaultSchema" type="xs:string" minOccurs="0"/>
      <xs:element name="templates" type="templateDefinition"/>
      <xs:element name="typeMappings" type="typeMappings" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>